@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
// @import "globals";


@font-face {
	font-family: 'Roboto', sans-serif;
	src: url('https://fonts.googleapis.com/css?family=Pacifico');
	font-weight: normal;
	font-style: normal;
}


html,
body,
div#react-container,
div.app {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-size: 55%;
}

h1, label {
  margin: 0
}

div.app {
  // background-image: url('http://localhost:3333/rowdy.jpg');
  background-size: cover;
  background-position: center;
}

div.whoops-404 {
  background-color: white;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}